$ui-nav-color: #141413;
$ui-submenu-color: #fff;
$ui-accent-color: #066b27;
$ui-main-color: #404040;
$ui-bg-footer: #37373f;
$ui-bg-footer-btm: #2e2e35;

$ui-font-main: 'Muli';
$ui-font-title: 'Poppins-Bold';
$ui-font-main-size: 1rem;

$ui-block: block;
$ui-inline-block: inline-block;

$ui-text-center: center;
$ui-text-decoration: underline;

$ui-background-size-cover: cover;
$ui-background-size-contain: contain;
$ui-background-repeat: no-repeat;

$ui-margin-bottom-paragraph: 30px;

$layout-breakpoint-xl: 992px;
$layout-breakpoint-l: 767px;
$layout-breakpoint-m: 521px;
$layout-breakpoint-s: 360px;